<section class="plan">
	<svg viewBox="0 0 2422 1188" xmlns="http://www.w3.org/2000/svg">
		<image href="assets/img/build-item.png" alt="plan"></image>
		<a class="item-link"><path class="item-path" data-action-flat="5" data-sold-flat="2" data-free-flat="4" data-floors="45" data-address="вул. Перемоги, 21" d="M189.5 841V834.5L1902.5 836H1917.5V839.5L1909 841L1910 1032.5L199 1037V841H189.5Z" /></a>
		<a class="item-link"><path class="item-path" data-action-flat="12" data-sold-flat="2" data-free-flat="17" data-floors="35" data-address="вул. Перемоги, 31" d="M1917.5 840.5H188.5V834H210.5V789H271V756L199 739V721H1908.5V740L1855.5 756.5V788.5L1900.5 789.5V835.5H1917.5V840.5Z" /></a>
		<a class="item-link"><path class="item-path" data-action-flat="25" data-sold-flat="17" data-free-flat="32" data-floors="25" data-address="вул. Перемоги, 51" d="M200 720H1909V703.5L1919.5 699.5V695.5H1897.5V650H1854.5V628L1909 603.5V579.5H1175V603.5H821.5L793.5 579.5H200V598.5L271.5 627V649.5H208V695H189V702.5H198.5L200 704V720Z" /></a>
		<a class="item-link"><path class="item-path" data-action-flat="14" data-sold-flat="49" data-free-flat="0" data-floors="15" data-address="вул. Перемоги, 61" d="M200 566V578.5H793.5L821.5 602.5H1174V578.5H1909V560H1900V510H1855.5V499L1908.5 461V442.5H1177.5V423.5H820.5L808.5 408L796.5 392H200V462.5H263.5L267.5 524.5H209L210 554.5H188.5V558.5L200 566Z" /></a>
		<a class="item-link"><path class="item-path" data-action-flat="13" data-sold-flat="23" data-free-flat="66" data-floors="5" data-address="вул. Перемоги, 91" d="M1178.5 235.5V441.5H1908.5V426L1919.5 417.5V413.5H1900V371H1855.5V369.5L1909 319.5V235.5H1178.5Z" /></a>
	</svg>
	<nav class="template-navigation">
		<h2 class="template-navigation-title">Інформація по будинку</h2>
		<ul class="information-list">
			<li class="information-item"><span>Адреса: </span><strong id="address"> </strong></li>
			<li class="information-item"><span>Поверхів: </span><strong id="floors"> </strong></li>
			<li class="information-item"><span>Кіл-ть вільних квартир: </span><strong id="freeFlat"> </strong></li>
			<li class="information-item"><span>Кіл-ть проданих квартир: </span><strong id="soldFlat"> </strong></li>
			<li class="information-item"><span>Кіл-ть акційних квартир: </span><strong id="actionFlat"> </strong></li>
		</ul>
	</nav>
</section>
