<div class="floor-options">
	<div class="floor-options-item">
		<div>Номер дома</div>
		<div>1</div>
	</div>
	<div class="floor-options-item">
		<div>Этаж</div>
		<div>2</div>
	</div>
	<div class="floor-options-item">
		<div>Номер квартиры:</div>
		<div>13</div>
	</div>
	<div class="floor-options-item">
		<div>Количество комнат:</div>
		<div>33</div>
	</div>
	<div class="floor-options-item">
		<div>Площадь кв:</div>
		<div>52 м²</div>
	</div>
	<div class="floor-options-item">
		<div>Цена за м²:</div>
		<div>2000$</div>
	</div>
	<div class="floor-options-item">
		<div>Цена за квартиру:</div>
		<div>132000$</div>
	</div>
	<div class="floor-options-item">
		<div>Статус:</div>
		<div>Продана</div>
	</div>
</div>
